* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
.container{
    width: 100%;
    height: 450vh;
    background: url(https://wallpaperaccess.com/full/1428490.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.logo{
    border-radius: 25%;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    background: linear-gradient(to right,rgb(2, 1, 45),rgb(3, 1, 58));
    padding: 20px 0;
}
h1{
    color: rgb(0, 157, 255);
    font-size: 15px;
    cursor: pointer;
}

.text {
    width: 97%;
    border-radius: 10px;
    display: flex;
    height: 600px;
    background: linear-gradient(rgb(1, 16, 37) ,rgb(2, 39, 77));
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
small{
    color: white;
    font-size: 25px;
    position: absolute;
    top: 20%;
    left: 50px;
    font-weight: 600;
}
span {
    color: rgb(77, 114, 216);
}
h2{
    color: white;
    position: absolute;
    top: 30%;
    font-size: 50px;
    font-weight: 900;
    left: 20px;
}
p{
    color: white;
    word-spacing: 4px;
    font-size: 25px;
    line-height: 55px;
    font-weight: 700;
    position: absolute;
    top: 45%;
    left: 50px;
}

.nav{
    width: 100%;
    padding: 20px 0;
    background-color: black;
    position: absolute;
    top: 120%;
    align-items: center;
    background: linear-gradient(to right,rgb(2, 1, 45),rgb(3, 1, 58));;
    position: absolute;
    border-radius: 50px;
}
ul {
    display: flex;
    text-align: center;
    justify-content: center;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    width: auto;
    color: white;
    padding: 0 15px;
    font-size: 20px;
    font-weight: 600;
}
ul li a:hover{
    background: linear-gradient(to right,rgb(5, 1, 49), rgb(2, 24, 95));
    padding: 10px;
    font-size: larger;
    border-radius: 10px;
    transition: .3s;
}
.slider{
    width: 5%;
    height: 7px;
    transform: translateX(-235%);
    background: linear-gradient(to right,rgb(7, 3, 53),rgb(15, 2, 116));
    border-radius: 10px;
    position: absolute;
    display: flex;
    bottom: 0;
    transition: all 1.5s ease;
}
.nav ul li:nth-child(2):hover ~ .slider{
    margin-left: 16%;
}
.nav ul li:nth-child(3):hover ~ .slider{
    margin-left: 31.5%;
}
.nav ul li:nth-child(4):hover ~ .slider{
    margin-left: 46%;
}

.hero{
    position: absolute;
    display: flex;
    width: 95%;
    margin: auto;
    border-radius: 15px;
    height: 500px;
    top: 140%;
    left: 2.5%;
    background: linear-gradient(rgb(1, 16, 37) ,rgb(2, 39, 77));
}
h3{
    font-size: 45px;
    position: absolute;
    left: 3%;
    color: rgb(193, 201, 228);
}
h{
    color: white;
    position: absolute;
    top: 50px;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    left: 2%;
}
img.engineer{
    position: absolute;
    left: 60%;
    width: 400px;
    height: 400px;
}
@media screen and (max-width:1075px) {
    img.engineer{
        position: absolute;
        left: 80%;
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width:800px) {
    small{
        color: white;
        font-size: 15px;
        position: absolute;
        top: 20%;
        left: 50px;
        font-weight: 600;
    }
    span {
        color: rgb(77, 114, 216);
    }
    h2{
        color: white;
        position: absolute;
        top: 30%;
        font-size: 20px;
        font-weight: 900;
    }
    p{
        color: white;
        word-spacing: 4px;
        font-size: 15px;
        line-height: 50px;
        font-weight: 700;
        position: absolute;
        top: 45%;
    }


    ul li a{
        text-decoration: none;
        width: auto;
        color: white;
        padding: 0 15px;
        font-size: 13px;
        font-weight: 600;
    }
    ul li a:hover{
        background: linear-gradient(to right,rgb(5, 1, 49), rgb(2, 24, 95));
        padding: 10px;
        font-size: larger;
        border-radius: 10px;
        transition: .3s;
    }
    .slider{
        width: 40px;
        height: 7px;
        transform: translateX(-295%);
        background: linear-gradient(to right,rgb(7, 3, 53),rgb(15, 2, 116));
        border-radius: 10px;
        position: absolute;
        display: flex;
        bottom: 0;
        transition: all 1.5s ease;
    }
    .nav ul li:nth-child(2):hover ~ .slider{
        margin-left: 50%;
    }
    .nav ul li:nth-child(3):hover ~ .slider{
        margin-left: 100%;
    }
    .nav ul li:nth-child(4):hover ~ .slider{
        margin-left: 140%;
    }
    .nav{
        width: 100%;
        padding: 20px 0;
        background-color: black;
        position: absolute;
        top: 140%;
        align-items: center;
        background: linear-gradient(to right,rgb(2, 1, 45),rgb(3, 1, 58));;
        position: absolute;
        border-radius: 50px;
    }

    .hero {
        position: absolute;
        display: flex;
        width: 95%;
        margin: auto;
        border-radius: 15px;
        height: 500px;
        top: 215%;
        left: 50%;
        background: linear-gradient(rgb(1, 16, 37) ,rgb(2, 39, 77));
        transform: translate(-50%, -50%);
    }
    h3{
        font-size: 25px;
        position: absolute;
        left: 2%;
        color: rgb(193, 201, 228);
    }
    h{
        color: white;
        position: absolute;
        top: 50px;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        left: 1%;
    }
    img.engineer{
        position: absolute;
        left: 80%;
        width: 25px;
        height: 25px;
    }

    .hero2{
        position: relative;
        width: 95%;
        border-radius: 15px;
        height: 500px;
        transform: translate(0, 50%);
        background: linear-gradient(rgb(1, 16, 37) ,rgb(2, 39, 77));
    }
    .def2 strong.b, h.b{
        position: absolute;
        left: 2%;
    }
    strong.b{
        position: absolute;
        top: 2%;
    }
    h{
        font-size: 13px;
        font-weight: 600;
    }
    .command{
        width: 90%;
        height: 900px;
        background: linear-gradient(rgb(1, 16, 37) ,rgb(2, 39, 77));
        border-radius: 25px;
        position: absolute;
        top: 450vh;
        transform: translate(-50%,50%);
        left: 50%;
        padding: 50px 0;
    }
    header{
        padding: 20px 0;
        color: white;
        font-size: 5px;
        font-weight: 600;
        text-align: center;
    
    }
    button{
        padding: 20px 45px;
        transform: translate(-50%,);
        position: relative;
        left: 50%;
        top: 40%;
        border-radius: 15px;
        border: transparent;
        cursor: pointer;
    }
    button a{
        color: black;
        font-size: 14px;
        font-weight: 600;
        text-decoration: none;
        text-align: center;
        justify-content: center;
    }
    button:hover{
        background:  linear-gradient(rgb(1, 16, 37) ,rgb(2, 39, 77));;
        border: 2px solid white;
    }
    button a:hover{
        color: white;
    }

}

h4{
    font-size: 15px;
    text-align: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 440vh;
    color: white;
    font-weight: 800;
    background: linear-gradient(rgb(1, 16, 37) ,rgb(2, 39, 77));
    padding: 20px 0;
}
@media screen and (max-width:460px){
    h4{
        font-size: 10px;
    }
}


.hero2{
    position: relative;
    display: flex;
    width: 95%;
    margin: auto;
    border-radius: 15px;
    height: 500px;
    top: 50%;
    background: linear-gradient(rgb(1, 16, 37) ,rgb(2, 39, 77));
}
img.prog {
    width: 350px;
    height: 300px;
    position: absolute;
    left: 65%;
    top: 20%;
    border-radius: 10%;
}

@media screen and (max-width:1055px) {
    img.prog {
        display: none;
        width: 350px;
        height: 300px;
        position: absolute;
        left: 65%;
        top: 20%;
        border-radius: 10%;
    }

    


}
h.b{
    line-height: 30px;
    top: 30%;
    display: inline-block;
}
.def2 strong.b, h.b{
    position: absolute;
    left: 2%;
}



.command{
    width: 90%;
    height: 300px;
    background: linear-gradient(rgb(1, 16, 37) ,rgb(2, 39, 77));
    border-radius: 25px;
    position: absolute;
    top: 380vh;
    transform: translate(-50%, -50%);
    left: 50%;
}
header{
    padding: 20px 0;
    color: white;
    font-size: 30px;
    font-weight: 600;
    text-align: center;

}
button{
    padding: 20px 45px;
    transform: translate(-50%, -50%);
    position: relative;
    left: 50%;
    top: 30%;
    border-radius: 15px;
    border: transparent;
    cursor: pointer;
}
button a{
    color: black;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    justify-content: center;
}
button:hover{
    background:  linear-gradient(rgb(1, 16, 37) ,rgb(2, 39, 77));;
    border: 2px solid white;
}
button a:hover{
    color: white;
}
